*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
margin: 100px;
background-color:aliceblue;
text-align: center;
/* border-radius: 10px;   */

}

/* .Header{
color: #fff;
background-color: #FB5879;
display: flex;
justify-content: center;
align-items: center;
gap: 7px;
padding: 10px;
}

article{
  margin: 60px;
  display: flex;
  gap: 20px;
}

section {
  background-color: #FFFFFF;
  border: 0.1px solid #595555;
}

.mountain{
  height:250px;
  width:180px;
  border-radius: 10px;
}

.description{
  padding: 40px 5px;
  width: 440px;
}
a{
  margin-left: 10px;
  color: gray;
  font-size: 15px;
}
.title{
  letter-spacing: 1px;
  font-size: 16px;
  padding-left: 1px;
  color: gray;
  font-weight: 700;
}

.Main_title{
  margin-top: 8px;
  margin-bottom: 20px;
}

.Date{
  margin-bottom: 8px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.little_des{
  line-height: 20px;
  color: rgb(69, 75, 78);
  
    
  
}
 */
 

.btn{
  margin-top: 40px;
  font-size: large;
  border-radius: 25px;
  padding: 50px;
  margin-left: 20px;
}

.Secondary_btn{
  padding: 20px;
  margin-left: 20px;
  border-radius: 50%;
  
}


