*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
margin: 100px;
background-color:aliceblue;
text-align: center;
/* border-radius: 10px;   */

}


 

.btn{
  margin-top: 40px;
  font-size: large;
  border-radius: 25px;
  padding: 50px;
  margin-left: 20px;
}

.Secondary_btn{
  padding: 20px;
  margin-left: 20px;
  border-radius: 50%;
  
}


